:root {
  --track-color: rgb(72, 162, 235, .3);
  --main-color: rgb(72, 162, 235);
  --main-color-hover: rgb(255, 174, 0);
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
} 
.App-header {
  background-color: #202020;
  min-height: 100vh;
  display:block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.speedSlider {
  max-width: 300px;
  margin: auto;
}

.speedSlider-track {
  top: 4px;
  height: 6px;
  background: var(--track-color);
}

.speedSlider-track.speedSlider-track-0 {
  background-color: var(--main-color);
}

.speedSlider-thumb {
  cursor: pointer;
  background-color: var(--main-color);

  width: 15px;
  height: 15px;
  border-radius: 100%;

  outline: none;
}
/* Not currently working */
.speedSlider-thumb:hover {
  box-shadow: 0 0 0 2000 var(--main-color-hover);
}

.SideBySide {
  padding-top: 1rem;

  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
