:root {
    --column-count: 3;
}

.SudokuBoard {
    width: fit-content;
    margin: auto;
    /* border-style: solid; */
    /* border-color: black; */
}

.boardContainer {
    background-color: cyan;
    display: grid;
    column-gap: .1rem;
    row-gap: .1rem;
    /* grid-template-columns: 6rem 6rem 6rem; */
    /* grid-gap: 1rem; */
    grid-auto-flow: row;

    margin: auto;
    width: fit-content;
}

.boxContainer {
    display: grid;
    /* This is now down from the typescript */
    /* grid-template-columns: 2rem 2rem 2rem; */
    /* grid-gap: 1rem; */
    grid-auto-flow: row;

}

.item {
    color: #282828; 
    border-style: solid;
    border-color: #404040;
    background-color: #282828;
    width: auto;
    overflow: auto;
    display: table; 
    /* position: relative; */
}
.itemInput {
    color: cyan; 
    border: none;
    display: inline-block;
    background-color: #282828;
    width: 100%;
    padding-left: .45rem;
    padding-top: .1rem;
    box-sizing: border-box;
    display: table-row;
    outline: none; 
    /* position: absolute; */
    -webkit-appearance: none;
    /* border: none; */
}

.itemInput:hover {
    background-color: darkorange;
}
.cellGuesses {
    display:none;
    color: cyan;
    /* visibility: hidden; */
    width: auto;
  /* background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px; */
}
.item:hover > .cellGuesses {
    display:block;
    /* visibility: visible; */

    /* position: absolute; */
}
.item:hover {
    z-index: 1;
}